{% extends 'base.html' %}

{% block title %} GetData{% endblock %}


{% block content %}
<form action="#" method="post">
    <p>Series: <input type = "text" name = "series" /></p>
    <p>Rodet: <input type = "text" name = "rodet" /></p>
    <p>Rodet diameter: <input type = "text" name = "rodetD" /></p>
    <p>Bandes: <input type = "text" name = "bandes" /></p>
    <p>V: <input type = "text" name = "V" /></p>
    <p>Power: <input type = "text" name = "power" /></p>
    <p> <input type = "submit" value = "submit" /></p>
</form>
{% endblock %}