{% extends "base.html" %}
{% block title %}
  Title of the page
{% endblock %}
{% block content %}
  <div class="container text-center" >
      <div class="row">
        <div class="col">
          <h1> Analytics for {{rodet}} </h1>
            <h2> Chosen velocity: {{velocity*60}} rpm</h2>
            <h3>Predicted power lineal regresssion: {{lYhat}} ± {{lrmse}}</h3>
            <h3>Predicted power adimensional model: {{aYhat}} ± {{armse}}</h3>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        </div>
      </div>
   <div class="row">
        <div class="col">
  <canvas id="myChart2" width="300" height="100"></canvas>
          <script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
                labels: {{x}},
                datasets: [{
                    label: 'Power-Velocity',
                    backgroundColor: 'rgb(255, 99, 132,0)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ly}}},
                    {
                    label: 'adimenisional',
                    backgroundColor: 'rgb(0, 255, 0,0)',
                    borderColor: 'rgb(0, 255, 0)',
                    data: {{ay}}
                    }]
    },
    options: {}
}); 
</script>
        </div>
      </div> 
   </div>
{% endblock %}